

body {
    overflow:auto;
    background: silver;
}


.div1 {
    position: absolute;
    left: 50%;
    top: 1%;
    background-color: silver;
    width: 150px;
    margin:30px;
    text-align: center;
    line-height: 30px;
    font-size:20px;
}


p {
    position: absolute;
    top: 4%;
    left: 38%;
}

h1 {
    position: absolute;
    left: 45%;
    top:15%;
    font-size:30px;
}

h2 {
    position: absolute;
    left: 50%;
    top: 28%;
}


.section1 {
    position: absolute;
    left: 50%;
    top: 68%;
}



.div2 {
    position:fixed;
    bottom:0;
    left: 52%;
}


.table1 {
    position: absolute;
    top: 74%;
}


.merchimg {
    width:200px;
    height:200px;
    padding: 30px;
}


.table2 {
    position: absolute;
    top: 35%;
}

.th1 {
    padding:50px;
    width:5%;
    border: 1px solid black;
    background-color: grey;
}

.shopsec {
    position: absolute;
    top:2%;
    left:90%;
    width: 10px;
    height:10px;
    font-size: 20px;
}

 .shopimg {
    width:100px;
    height:100px;
}

